 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
      
}

body {
    font-family: 'Lato', sans-serif;  
    line-height: 120%;
    /*background-color: #fbfbfb;*/
}

footer, header {
    height: 90px;
    color: #fbfbfb;
}


p {          
    font-size: 18px
    line-height: 120%;    
    margin: 20px 0 auto; 
    text-align: justify;
    align-content: center;
}

.txt-btn, footer {
    background-color: #af599e;
}
.txt-btn {
    width: 220px;
    max-width: 300px;
    height: 2em;
    font-size: 20px;
    text-align: center;
    align-items: center;
    color: white;
    margin: 2em auto;
    border-radius: 15px;
    padding: 8px 0;
}

.txt-btn a, .txt-btn a:visited, .txt-btn a:checked {
    text-decoration: none;
    color: white;
}
h1, h2 {
    font-size: 36px;
    text-align: center;
    margin: 1.5em 0;
}

h2 {
    font-size: 28px;
}

header {
    display: flex;
    flex-direction: row;
    width: 40vw;
    max-width: 400px;
    color: black;
    margin auto; 
    align-content: center;
    text-align: center;
    justify-content: center;

}
/*hasta aqui los parametros dados en la consigna*/


.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;    
    margin: auto;
}

.container .menu. ul a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container .menu, ul li {
    list-style: none;    
}

.container .menu, ul li a {
    
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
    
}

.main {
    /*background-color: cadetblue;*/
    justify-content: space-around;
    padding-top:5rem;
}


section {
    width: 90vw;
    max-width: 900px;
    min-height: 100vh;
    border-bottom: solid 2px; /*borrar*/
    margin: auto;    
}

.foto {
    width: 40vw;
    max-width: 400px;
    height: 46vh;
    max-height: 650px;
    object-fit: cover;
    /*border: solid;borrar*/
    border-radius: 560px;
    margin: 0 auto;
}

.parrafo1, .parrafo2, .imagenes {
    width: 60vw;
    max-width: 600px;
    height: 35vh;
    max-height: 650px;
    border: solid;/*borrar*/
    align-items: center;
    margin: 0 auto;
    padding: 2em;
}
.imagenes {
    align-content: center;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    }

.imagen {
    background-color: #af599e;
    color: white;
    width: 20%;
    height: 40%;
    padding: 15px;
    margin: auto;
    align-items: center;

}

i {
    width: 50%;
    height: 40%;
    margin: auto;
    font-size: 65px;
    align-items: center;
    padding: 15px;
}

footer {
    padding-top: 1em;
    justify-content: center;
}
footer p {
    text-align: center;
}
